
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>@ViewBag.business</h1>
        <h2>@ViewBag.type</h2>
        <h2>@ViewBag.founded</h2>
        <h2>@ViewBag.website</h2>
    </div>
</body>
</html>
