
@{
    Layout = null;
}

<h3>Welcome,</h3>
<br>
<h3>Your booking for vehicle Number, @ViewBag.VehicleNo was confirmed.</h3>
<h3>Our service adviser (@ViewBag.City) will call you in Phone Number : @ViewBag.PhoneNumber</h3>


